<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Dutch Auction - Leilão Holandês</h1>
            <p class="lead text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro ratione neque
                facilis sunt, inventore, illo perferendis eos harum eius quibusdam eveniet facere repudiandae doloribus
                nisi voluptatem exercitationem alias, dolorum impedit!</p>
            <p>
                <a href="leilao" class="btn btn-secondary my-2 shadow-sm rounded-0">Ver itens do leilão</a>

                <a href="cadastrovenda" class="btn btn-secondary my-2 shadow-sm rounded-0 focus">Vender
                    produto no leilão</a>
            </p>
        </div>
    </div>
</section>