<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" href="images/leilao.png" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="../public/javascripts/js.js"></script>
</head>

<body>

    <%- include('nav'); %>

        <div class="container">
            <main>
                <div class="py-5 text-center">
                    <a href="/"><img class="d-block mx-auto mb-4" src="images/leilao.png" alt="" width="120"
                            height="120"></a>
                    <h2>Cadastrar Anúncio</h2>
                    <p class="lead">Para anunciar um produto em nosso leilão, basta descrever todos os pontos abaixo e
                        começar a faturar!</p>
                </div>

                <div class="row g-5">
                    <div class="col">
                        <h4 class="mb-3"><strong>Dados para cadastro</strong></h4>
                        <form class="needs-validation" action="/cadastrovenda/cadastrar" method="POST">
                            <div class=" row g-3">
                                <div class="col-sm-12">
                                    <label for="nome" class="form-label">Nome do produto:</label>
                                    <input type="text" class="form-control" name="nome" id="Nome"
                                        placeholder="Nome produto" required>
                                </div>

                                <div class="col-sm-6">
                                    <label for="valorI" class="form-label">Lance inicial:</label>
                                    <input type="number" class="form-control" name="valorI" id="valorI"
                                        placeholder="R$ 00,00" required>
                                </div>

                                <div class="col-sm-6">
                                    <label for="valorF" class="form-label">Lance Final:</label>
                                    <div class="input-group has-validation">
                                        <input type="number" class="form-control" name="valorF" id="valorF"
                                            placeholder="R$ 00,00" required>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label for="data" class="form-label">Data de conclusão:</label>
                                    <input type="date" class="form-control" name="data" id="data" required>
                                </div>

                                <div class="col-sm-6">
                                    <label for="categoria" class="form-label">Categoria do produto:</label>
                                    <input type="text" class="form-control" name="categoria" id="categoria" required>
                                </div>

                                <!-- <div class="col-md-5">
                                    <label for="country" class="form-label">Country</label>
                                    <select class="form-select" id="country" required>
                                        <option value="">Choose...</option>
                                        <option>United States</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select a valid country.
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label for="state" class="form-label">State</label>
                                    <select class="form-select" id="state" required>
                                        <option value="">Choose...</option>
                                        <option>California</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please provide a valid state.
                                    </div>
                                </div> -->

                                <div class="col-md-12">
                                    <label for="zip" class="form-label">Zip</label>
                                    <input type="text" class="form-control" id="zip" placeholder="" required>
                                </div>
                            </div>

                            <hr class="my-4">

                            <button class="w-100 btn btn-primary btn-lg center" type="submit">Cadastrar anúncio</button>
                        </form>
                    </div>
                </div>
            </main>
        </div>

        <%- include('footer'); %>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
                integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>
            <script src="https://unpkg.com/@popperjs/core@2"></script>
</body>

</html>