.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.img-thumbnail {
  border: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.btn-secondary {
  color: #fff;
  background-color: #fa962c;
  border-color: #f69021;
  border-bottom: 4px solid #f88000;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #f7860e;
  border-color: #fc8a11;
}